@font-face {
    font-family: "temp";
    src:url('/Akronim-Regular.ttf');
  }
  /* makes this green if the aspect ratio is right*/
@media (min-aspect-ratio: 10/5) {
    *#txt {
        border-color: hsl(100, 100, 40); 
      }
  }
  
.holding {
    color: orange;
    display: block;

}
*#txt {
    border-color: hsl(110, 40, 10); 
  }
h1 {
    font-family: "temp";
  }
#txt {
    height: 100px;
    width:150px;
    padding: 10mm 10mm 10mm 10mm;
  }

h3 {
    color: rgb(236, 122, 56) ; 
    text-decoration: dashed;
    text-align: center;
  }  

  a[href="https://en.wikipedia.org/wiki/Pomodoro_Technique"] {
    margin-top: 4ex;
    margin-bottom:15em;
    margin-left:10ch;
    margin-right: 10rem; 
    position: relative;

   }
   b, .summary {
    margin: 1cm .5in 15px 50mml;
    display: inline-block;
    position: sticky;
    border-style:dashed;

  } 
.header p {
    margin: auto;
    max-width: 5in;
    min-width: 15cm;
    padding-top:0%;
    padding-bottom:0%;
     padding-left:0%;
    padding-right:0%;
    display: flex; 
    flex-direction: row-reverse;
}    
.header nav {
    display: flex; 
    flex-direction: column;
}    
.header h1 {
    display: flex; 
    flex-direction: row;
}  
button:hover {
    color: #bb9494;
}    
select:active {
    background: #bb9494;
    
}   
ul > li {
    border-width:10em;
  }
h3 ~ p {
    border-radius:10%;
  }
img + strong {
    color: #660606;
  }
.ball.ballin{
    display: grid;
    border-style: dotted;
  }
  footer{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
  }
  footer > h3{
    grid-column-start: auto;
  }
  footer>p{
    grid-row-start: span;
  }
  footer>code{
    grid-column:initial;
  }

/*
grid  completed
*\
